# --------------------
# Data directories
# --------------------

# Ignore any folder named "data" anywhere in the repo
**/data/

# Ignore common data file types
*.csv
!airline_delay_model_metrics.csv
*.xlsx

# --------------------
# Jupyter
# --------------------

.ipynb_checkpoints/